@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

body {
	font-family: var(--font-poppins), ui-sans-serif, system-ui;
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(26, 26, 26, 1) 100%
	);
}

@layer utilities {
	.animate-aurora {
		background-size: 200% auto;
		animation: aurora 10s ease infinite;
	}

	.animate-shine {
		animation: shine var(--duration, 14s) linear infinite;
		will-change: background-position;
	}

	@keyframes shine {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}

	@keyframes aurora {
		0%,
		100% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
	}
}
